{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

    <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="/static/images/pineapple-wallpaper-pattern2.png" alt="pineapple-wallpaper-pattern" class="img-responsive">
           <div class="carousel-caption">
           <h1>Pardon Our Pixie Dust!</h1>
                <p class="lead">
                     We are in the midst of creating our website so we recommend you visit 
                    our instagram page for some Disney love and inspiration. Be sure to give
                    us a follow!
                </p>
                <p><a href="https://www.instagram.com/ohana.and.dolewhip/" class="btn btn-primary btn-large">Experience the Magic &raquo;</a></p>
           
           </div>
        </div>
    </div>
    </div>

  <img src=>
  

    
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
